.blog-sec {
  background: #E5E5E5;
  padding: 65px 0 40px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 37px 0;
}

.blog-item {
  width: calc(100% / 3 - 24px);
  background-color: #fff;

  &__image img {
    width: 100%;
    object-fit: cover;
  }

  &__body {
    padding: 36px 40px 41px;
  }

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #272727;
    max-width: 210px;
    margin: 0 auto 30px;
  }

  &__text {
    font-family: $font-family1;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #272727;
    min-height: 86px;
    margin-bottom: 36px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: rgba(39, 39, 39, 0.5);
  }

  &__link {
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #77AC57;
  }
}
