.blog-single-second {
  padding: 60px 0 180px;

  &__item {
    width: calc(100% / 2 - 35px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .blog-item__image img {
    width: 100%;
    max-height: 184px;
  }

  .blog-item__title {
    margin-bottom: 13px;
  }

  .blog-item__text {
    min-height: 60px;
    margin-bottom: 12px;
  }

  &__title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: $gradient-text;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    margin-bottom: 60px;
  }
}
