.contact-sec {
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.7);

  &__box {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: Min(6.6vw, 90px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
  }

  &__title {
    position: relative;
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    background-image: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }

  &__sub-link {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3em;
    color: rgba(39, 39, 39, 0.6);
  }

  &__map {

    iframe {
      width: 100%;
      max-height: 370px;
      height: 100%;
    }
  }
}
