footer {
  padding: 60px 0 30px;

  background: #272727;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.footer-box {
  display: grid;

  grid-gap: 60px;
}

.botton-info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  font-family: $font-family1;
  color: #f0f0ee;
  letter-spacing: 0.3em;
}

.footer-info {
  display: grid;

  grid-gap: 70px;
}

.footer-logo {
  display: flex;
  align-items: center;

  grid-gap: 12px;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;
  }
}

.footer-phones {
  display: grid;

  grid-gap: 9px;

  .header-phones__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;
  }
}

.footer-lists {
  display: grid;

  grid-gap: clamp(20px, 5.278vw ,76px);
  grid-template-columns: repeat(2, 1fr);

  &__title {
    margin-bottom: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;
  }
}

.footer-nav {
  display: grid;

  grid-gap: 15px;

  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;

    opacity: 0.8;

    transition: all 0.4s;

    &:hover {
      color: #ffffff;

      opacity: 1;
    }
  }
}

.header-phones__item {
  opacity: 0.8;

  transition: all 0.4s;

  &:hover {
    opacity: 1;
  }
}
