footer {
  padding: 60px 0 30px;
  background: #272727;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.footer-box {
  display: grid;
  grid-gap: 60px;
}

.botton-info {
  font-family: $font-family1;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.3em;
  color: #F0F0EE;
}

.footer-info {
  display: grid;
  grid-gap: 70px;
}

.footer-logo {
  display: flex;
  align-items: center;
  grid-gap: 12px;

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    color: #F0F0EE;
  }
}

.footer-phones {
  display: grid;
  grid-gap: 9px;

  .header-phones__link {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #F0F0EE;
  }
}

.footer-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: clamp(20px, 5.278vw ,76px);

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #F0F0EE;
    margin-bottom: 30px;
  }
}

.footer-nav {
  display: grid;
  grid-gap: 15px;

  &__item {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3em;
    color: #F0F0EE;
    transition: all .4s;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  }
}

.header-phones__item {
  transition: all .4s;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
