.main-top {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  margin-bottom: 55px;

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.3em;
    background-image: conic-gradient(from 268.51deg at 50% 50%, rgba(39, 39, 39, 0.5625) 0deg, rgba(193, 193, 193, 0.876084) 73.13deg, rgba(39, 39, 39, 0.610944) 172.33deg, rgba(100, 95, 95, 0.46656) 339.56deg, rgba(0, 0, 0, 0.551864) 356.81deg, rgba(117, 117, 117, 0.44206) 356.85deg, rgba(39, 39, 39, 0) 360deg);
    text-align: center;
  }

  &__text {
    font-family: $font-family1;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #272727;
    max-width: 696px;
    margin: 0 auto;
  }
}
