.pas-section {
  padding: 60px 0 90px;

  .container {
    max-width: 1220px;
  }

  &__box {
    margin-top: clamp(60px, 12.500vw ,180px);
  }

  &__title {
    font-family: $font-family1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
    max-width: 358px;
  }

  &__box {
    display: grid;
    grid-gap: 24px;
  }
}


.big-title {
  font-family: $font-family1;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(50px, 10vw ,144px);
  line-height: 100%;
  letter-spacing: 0.3em;
  text-align: center;
  white-space: nowrap;
}

.pas-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding-bottom: clamp(20px, 3.472vw ,50px);

  &::before {
    content: '';
    width: calc(100% + 60px);
    height: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='1277' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='382' cy='5' r='5' transform='rotate(90.1 382 5)' fill='%237E7E7E'/%3E%3Ccircle cx='282' cy='5' r='5' transform='rotate(90.1 282 5)' fill='%237E7E7E'/%3E%3Ccircle cx='182' cy='5' r='5' transform='rotate(90.1 182 5)' fill='%237E7E7E'/%3E%3Ccircle cx='82' cy='5' r='5' transform='rotate(90.1 82 5)' fill='%237E7E7E'/%3E%3Ccircle cx='682' cy='5' r='5' transform='rotate(90.1 682 5)' fill='%237E7E7E'/%3E%3Ccircle cx='782' cy='6' r='5' transform='rotate(90.1 782 6)' fill='%237E7E7E'/%3E%3Ccircle cx='882' cy='6' r='5' transform='rotate(90.1 882 6)' fill='%237E7E7E'/%3E%3Ccircle cx='982' cy='5' r='5' transform='rotate(90.1 982 5)' fill='%237E7E7E'/%3E%3Ccircle cx='1082' cy='5' r='5' transform='rotate(90.1 1082 5)' fill='%237E7E7E'/%3E%3Ccircle cx='1182' cy='5' r='5' transform='rotate(90.1 1182 5)' fill='%237E7E7E'/%3E%3Ccircle cx='582' cy='5' r='5' transform='rotate(90.1 582 5)' fill='%237E7E7E'/%3E%3Ccircle cx='482' cy='5' r='5' transform='rotate(90.1 482 5)' fill='%237E7E7E'/%3E%3Cpath d='m0 4.5 1276 1' stroke='%23646464' stroke-opacity='.8'/%3E%3C/svg%3E");
  }

  &__item {
    font-family: $font-family1;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #272727;
  }
}
