.services-third {
  padding: 50px 0 120px;
  background-color: #E5E5E5;


  &__title {
    background-image: conic-gradient(from 37.51deg at 50% 50%, rgba(39, 39, 39, 0.5625) 0deg, rgba(193, 193, 193, 0.876084) 73.13deg, rgba(39, 39, 39, 0.610944) 172.33deg, rgba(100, 95, 95, 0.46656) 339.56deg, rgba(0, 0, 0, 0.551864) 356.81deg, rgba(117, 117, 117, 0.44206) 356.85deg, rgba(39, 39, 39, 0) 360deg);
    font-family: $font-family1;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.3em;
    margin-bottom: 75px;
  }

  &__box {
    display: flex;
    grid-gap: Min(11.5vw,165px);
  }

  &__article {
    width: Min(31.25vw ,450px);
    flex-shrink: 0;
  }

  &__slider {
    // max-width: Min(45vw ,646px);

    max-width: Min(50vw,750px);
    width: calc(100% + Min(11.5vw,165px));
    margin-right: Max(-11.5vw,-165px);

    .about-slider {
      margin-bottom: 0;
    }
  }

  &__text {
    font-family: $font-family1;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #272727;

    & + & {
      margin-top: 40px;
    }
  }

  &__btn {
    margin-top: 30px;
  }


}
