.services-single-first {
  padding: 100px 0 148px;

  background-color: #ffffff;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    max-width: 625px;

    grid-gap: 50px;
  }

  &__title {
    position: relative;

    margin-bottom: 46px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-family: $font-family1;
    letter-spacing: 0.3em;

    background-image: $gradient-text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: -60px;

    transform: translateY(-50%);
  }

  &__sub-list {
    display: flex;
    flex-direction: column;

    grid-gap: 23px;
  }

  &__sub-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    grid-gap: Min(9vw,131px);
  }

  &__sub-name,
  &__sub-price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: $font-family1;
    color: rgba(39, 39, 39, 0.6);
    letter-spacing: 0.3em;
  }

  &__sub-price {
    text-transform: uppercase;
    flex-shrink: 0;
  }
}
