/* -- Fonts --*/
$font-family1 : "Roboto", sans-serif;
$font-family2 : "Gilroy", sans-serif;
$font-family3 : "SeoulNamsan", sans-serif;
$font-family4 : "Share", sans-serif;




$gradient-text: conic-gradient(from 37.51deg at 50% 50%, rgba(39, 39, 39, 0.5625) 0deg, rgba(193, 193, 193, 0.876084) 73.13deg, rgba(39, 39, 39, 0.610944) 172.33deg, rgba(100, 95, 95, 0.46656) 339.56deg, rgba(0, 0, 0, 0.551864) 356.81deg, rgba(117, 117, 117, 0.44206) 356.85deg, rgba(39, 39, 39, 0) 360deg);

/* -- Colors --*/

$color--a: #3C93F0;
$color--b: #3E3E3E;
$color--c: #FED036;
$color--d: #EDF3F6;
$color--e: #09D743;
$color--w: #ffffff;

/* -- text --*/

$text--a: #3C93F0;
$text--b: #3E3E3E;
$text--c: #FED036;
$text--d: #EDF3F6;
$text--e: #09D743;
$text--w: #ffffff;

