/* -- Fonts --*/
$font-family1 : "Roboto", sans-serif;
$font-family2 : "Gilroy", sans-serif;
// $font-family3 : "", sans-serif;

/* -- Colors --*/

$color--a: #3C93F0;
$color--b: #3E3E3E;
$color--c: #FED036;
$color--d: #EDF3F6;
$color--e: #09D743;
$color--w: #ffffff;

/* -- text --*/

$text--a: #3C93F0;
$text--b: #3E3E3E;
$text--c: #FED036;
$text--d: #EDF3F6;
$text--e: #09D743;
$text--w: #ffffff;

